{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游乐场</title>
    <link rel="stylesheet" type="text/css" href={% static 'myApp/css/game.css' %}/>

</head>
<body>
        <div id="div1">
			<div class="div1_img">
				<img src="http://www.bjsjsyly.com/Public/upload/pic/2017-05-10/59127da086c59-59127da086ca1.png" />
			</div>
			<div class="div1_text">
				<a href="#">首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="#">主题活动</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="#">乐园之旅</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="#">游园服务</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="#">联系我们</a>

			</div>
		</div>


		<div id="div2">
			<img src="http://www.bjsjsyly.com/Public/home/images/home-banner0.jpg"  width="100%"/>
		</div>


		<div id="div3">
		 	<div class="div3_1">
		 		<div class="div3_1_1">
		 			<img  height="143px" width="293px" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2503146535,2490705686&fm=200&gp=0.jpg" />
		 			<h2>摩天轮</h2>
		 			<p >国内最大娱乐游乐场摩天轮模板设计</p>
		 			<a href="http://www.bjsjsyly.com/communal/index?action=topnavigation_18" target="_blank"><p style="color: blue">摩天轮入园须知</p></a>
                    <a href="http://www.bjsjsyly.com/communal/index?action=entertainment_1" target="_blank"><p style="color: blue">梦想之星</p></a>

		 		</div>
		 		<div class="line"></div>
		 		<div class="div3_1_2">
		 			<img  height="143px" width="293px" src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3950616907,939336775&fm=26&gp=0.jpg">
		 			<h2>海盗船</h2>
		 			<p >国内最大娱乐游乐场海盗船模板设计</p>
		 			<a href="http://www.bjsjsyly.com/communal/index?action=topnavigation_18" target="_blank"><p style="color: blue">海盗船入园须知</p></a>
                    <a href="http://www.bjsjsyly.com/communal/index?action=entertainment_2"><p style="color: blue">花车巡游</p></a>
		 		</div>
		 		<div class="line"></div>
		 		<div class="div3_1_3">
		 			<img height="143px" width="293px"  src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1985665518,1888323158&fm=26&gp=0.jpg">
		 			<h2>旋转木马</h2>
		 			<p >国内最大娱乐游乐场旋转木马模板设计</p>
		 			<a href="http://www.bjsjsyly.com/communal/index?action=topnavigation_18" target="_blank"><p style="color: blue">旋转木马入园须知</p></a>
                    <a href="http://www.bjsjsyly.com/communal/index?action=entertainment_3" target="_blank"><p style="color: blue">异域风情</p></a>

		 		</div>
		 	</div>
		</div>

		<div id="box">
			<div id="images">
				<img  width="1000px" height="444px" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538743947726&di=7e0160bd0813199b5d764db87820dbc4&imgtype=0&src=http%3A%2F%2Fimg.weixinyidu.com%2F151201%2F0526fac1.jpg" />
				<img  width="1000px"  height="444px" src="http://www.bjsjsyly.com/ueditor/php/upload/image/20170719/1500449976693794.jpg" />
				<img  width="1000px" height="444px" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538824985626&di=acf8e40c80071cfb7e66d4bbb6c252a4&imgtype=0&src=http%3A%2F%2Fimg.pconline.com.cn%2Fimages%2Fupload%2Fupc%2Ftx%2Fitbbs%2F1409%2F13%2Fc4%2F38537707_1410585381138_mthumb.jpg" />
				<img  width="1000px" height="444px" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3160097791,818970422&fm=200&gp=0.jpg" />
				<img  width="1000px" height="444px" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538825235271&di=db24522dbbd7bd059360d1f6c254802d&imgtype=0&src=http%3A%2F%2Fimg.pconline.com.cn%2Fimages%2Fupload%2Fupc%2Ftx%2Fphotoblog%2F1605%2F30%2Fc11%2F22165627_1464606393044_mthumb.jpg" />
				<img  width="1000px" height="444px" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538743947726&di=7e0160bd0813199b5d764db87820dbc4&imgtype=0&src=http%3A%2F%2Fimg.weixinyidu.com%2F151201%2F0526fac1.jpg" />
			</div>
		</div>
		<div id="time" style="position: absolute;top:30px; right: 20px; 	">
			<h4 id="localdate" style="color: red; font-size :25px;"></h4>
		</div>

		<script type="text/javascript" src="/static/myApp/js/jquery-3.1.1.min.js" ></script>
		<script>

			// 图片移动的方法
			function move(offset){
				// 获得原来的left大小
				var oldLeft = parseInt($("#images").css("left"));
				// 设置为新left
				var newLeft = oldLeft + offset;
				// 动画移动发生变化
				$("#images").animate({left:newLeft + "px"},500, function(){
					// 临街判断
					if(newLeft <= -5000){
						$("#images").css("left","0px");
					}
				})
			}

			setInterval(function(){
				move(-1000);

			}, 2000);


			t = setTimeout(getdate,0);///设定定时器
			function getdate(){
				var now=new Date();
				var y=now.getFullYear();
				var mon=now.getMonth()+1;
				var d=now.getDate();
				var w=now.getDay();
				var h=now.getHours();
				var min=now.getMinutes();
				var s=now.getSeconds();
				var test=now.getTime();  //时间戳
				document.getElementById("localdate").innerHTML=y+'年'+mon+'月'+d+'日'+'星期'+w+" "+h+"点"+min+"分"+s+"秒";
				t=setTimeout(getdate,1000);////继续定时器
			}
		</script>
</body>
</html>